/.gitignore             @Lohnknechte/lead-devs
/.gitattributes         @Lohnknechte/lead-devs
/LICENSE                @Lohnknechte/lead-devs

/.github/**/*           @ThompsonA93
export_presets.cfg   @ThompsonA93