.gitignore          @Lohnknechte/lead-devs
.gitattributes       @Lohnknechte/lead-devs
.editorconfig       @Lohnknechte/lead-devs
project.godot       @Lohnknechte/lead-devs
/.github/           @Lohnknechte/lead-devs
*.gd                @Lohnknechte/lead-devs